      <div class="android-drawer mdl-layout__drawer">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href=""><i class="material-icons">sports_esports</i>&nbsp &nbsp <%= gettext "Games" %></a>
          <div class="and-drawer-separator"></div>
          <%= if @current_user do %>
            <div class="mdl-navigation__link" href=""><i class="material-icons">account_balance</i>&nbsp &nbsp <%= gettext "Sold items" %></div>
            <a class="mdl-navigation__link" href="<%= Routes.auth_path(@conn, :logout) %>"><i class="material-icons">exit_to_app</i>&nbsp &nbsp <%= gettext "Sign out" %></a>
          <% else %>
            <a class="mdl-navigation__link" href="<%= Routes.auth_path(@conn, :request, :auth0) %>"><i class="material-icons">account_box</i>&nbsp &nbsp <%= gettext "Sign in / Sign up" %></a>
          <% end %>
          <div class="and-drawer-separator"></div>
          <div class="mdl-navigation__link"><i class="material-icons">help_outline</i>&nbsp &nbsp <%= gettext "How it works" %></div>
          <a class="mdl-navigation__link" href="<%= Routes.legal_path(@conn, :index, :terms) %>"><i class="material-icons">menu_book</i>&nbsp &nbsp <%= gettext "Terms & Conditions" %></a>
          <a class="mdl-navigation__link" href="<%= Routes.legal_path(@conn, :index, :privacy_notice) %>"><i class="material-icons">policy</i>&nbsp &nbsp <%= gettext "Privacy Notice" %></a>
          <a class="mdl-navigation__link" href="<%= Routes.legal_path(@conn, :index, :disclaimer) %>"><i class="material-icons">info</i>&nbsp &nbsp <%= gettext "Disclaimer" %></a>
          <div class="and-drawer-separator"></div>
        </nav>
      </div>