
      <div class="and-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="and-title mdl-layout-title">
            <a href="/"><img class="and-logo-image" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>"></a>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="and-header-spacer mdl-layout-spacer"></div>
          <div class="and-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="and-navigation-container">
            <nav class="and-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href=""><%= gettext "How it works" %></a>
            </nav>
          </div>
          <span class="and-mobile-title mdl-layout-title">
            <img class="and-logo-image" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>">
          </span>
          <%= if @current_user do %>
            <button class="and-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
              <li disabled class="mdl-menu__item"><%= @current_user.name %></li>
              <div class="and-drawer-separator"></div>
              <li class="mdl-menu__item"><%= Phoenix.HTML.Link.link gettext("Sign out"), to: Routes.auth_path(@conn, :logout), class: "menu_link"%></li>
          </ul>
          <% else %>
            <button class="and-more-button mdl-button mdl-js-button" id="login">
              <%= Phoenix.HTML.Link.link gettext("Sign in / Sign up"), to: Routes.auth_path(@conn, :request, :auth0) %>
            </button>
          <% end %>
        </div>
      </div>