/* Alerts and form errors */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #000000;
  background-color: #27cf35;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

/* Overwriting styles of templated downloaded from https://code.getmdl.io/1.3.0/mdl-template-android-dot-com.zip*/

.mdl-layout__drawer {
  width: auto;
}

.and-search-box .mdl-textfield__input {
  color: #fff
}

.menu_link {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
}

.item-text {
  float: left;
  /* width: 250px;  */
  vertical-align: left;
  padding: 4px 0px 0px 12px;
  font-size: 17px;
}

a.item {
  color: #222;
  text-decoration: none;
}

.and-logo-image {
  width: auto;
}

.and-header {
  background-color: #222;
}

.and-header .material-icons {
  color: #fff !important;
}

.and-header .mdl-layout__drawer-button {
  background: #222;
  color: #fff;
}

.and-header .mdl-navigation__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.profile-form-avatar {
  width: 100px;
  height: 100px;
}

.legal-footer{
  font-style: italic;
  font-size: 10px;
}

.legal-underline-title {
  font-size: 20px;
  text-decoration: underline;
}
