/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */

a img {
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.and-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.and-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.mdl-textfield--expandable {
  width: auto;
}

.and-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.and-mobile-title {
  display: none !important;
}

.and-logo-image {
  height: 28px;
  width: 140px;
}

.and-header {
  overflow: visible;
  background-color: white;
}

.and-header .material-icons {
  color: #767777 !important;
}

.and-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.and-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.and-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.and-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.and-search-box.is-focused+.and-navigation-container {
  opacity: 0;
  width: 100px;
}

.and-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.and-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

.and-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.and-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.and-drawer {
  border-right: none;
}

.and-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.and-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.and-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.and-drawer .mdl-layout-title {
  position: relative;
  background: #6ab344;
  height: 160px;
}

.and-drawer .and-logo-image {
  position: absolute;
  bottom: 16px;
}

.and-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  /* background: url('images/slide01.jpg') center 30% no-repeat; */
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.and-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.and-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.and-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.and-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}

.and-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.and-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.and-screen {
  text-align: center;
}

.and-screen .and-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.and-image-link {
  text-decoration: none;
}

.and-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.and-wear .and-screen-image {
  width: 40%;
  z-index: 1;
}

.and-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

.and-phone .and-screen-image {
  width: 100%;
  z-index: 1;
}

.and-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

.and-tablet .and-screen-image {
  width: 100%;
  z-index: 1;
}

.and-tablet .and-link {
  display: block;
  z-index: 2;
}

.and-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.and-tv .and-screen-image {
  width: 100%;
  z-index: 1;
}

.and-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.and-auto .and-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.and-wear-section {
  position: relative;
  /* background: url('images/wear.png') center top no-repeat; */
  background-size: cover;
  height: 800px;
}

.and-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.and-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.and-wear-band-text p {
  padding-top: 8px;
}

.and-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.and-link:hover {
  color: #7cb342 !important;
}

.and-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.and-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.and-alt-link:hover {
  color: #00bfa5 !important;
}

.and-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.and-customized-section {
  text-align: center;
}

.and-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.and-customized-section-text p {
  padding-top: 16px;
}

.and-customized-section-image {
  /* background: url('images/devices.jpg') center top no-repeat; */
  background-size: cover;
  height: 400px;
}

.and-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.and-more-section .and-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.and-card-container {}

.and-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.and-card-container .mdl-card__media img {
  width: 100%;
}

.and-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.and-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.and-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.and-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.and-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.and-footer {
  background-color: #fafafa;
  position: relative;
}

.and-footer a:hover {
  color: #8bc34a;
}

.and-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.and-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.and-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.and-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.and-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.and-link-menu:hover {
  cursor: pointer;
}

/**** Mobile layout ****/

@media (max-width: 900px) {
  .and-navigation-container {
    display: none;
  }
  .and-title {
    display: none !important;
  }
  .and-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
  .android.and-search-box.is-focused~.and-mobile-title, .and-search-box.is-focused+.and-navigation-container+.and-mobile-title {
    opacity: 0;
  }
  .and-more-button {
    display: none;
  }
  .and-search-box.is-focused {
    width: calc(100% - 48px);
  }
  .and-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }
  .and-be-together-section {
    height: 350px;
  }
  .and-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }
  .and-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
  .and-create-character {
    padding-top: 200px;
    font-size: 16px;
  }
  .and-create-character img {
    height: 12px;
  }
  .and-fab {
    display: none;
  }
  .and-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }
  .and-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}