<%= form_tag @callback_url, method: "post" do %>
  <div class='control-group'>
    <label class='control-label' for='email'>Email</label>
    <input class='form-control' type='text' name='email' value='<%= @conn.params["email"] %>' />
  </div>

  <div class='control-group'>
    <label class='control-label' for='password-input'>Password</label>
    <input class='form-control' type='password' name='encrypted_password' />
  </div>

  <div class='control-group'>
    <button class='btn btn-primary'>Login</button>
  </div>
<% end %>