<div class="mdl-grid">
  <div>
  <%= live_render(@conn, NobleWeb.ClockLiveView) %>
  <div>
  <div>
  <%= live_render(@conn, NobleWeb.JoystickLiveView) %>
  </div>

  <%# <%= live_render(@conn, NobleWeb.AvatarLiveView, id: :avatar) %> %>
</div>
<br/>
</div>